<!DOCTYPE html>
<html lang="en">
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete</title>
</head>
<body>
<form action="#" th:action="@{/delete}" th:object="${personEntity}" method="post">
    <table>
        <tr>
            <td><label>Id</label></td>
            <td><input type="text" th:field="*{id}" /></td>
<!--            <p th:if="${#fields.hasErrors('id')}" th:errors="*{id}"></p>-->
        </tr>
        <tr>
            <td><input type="submit" value="Submit"/></td>
            <td><input type="reset" value="Reset" /></td>
        </tr>
    </table>
</form>

<a href="/"> Go back to home page</a><br>
<a href="/create"> Create Person </a><br>
<a href="/read"> Read Person </a><br>
<a href="/update"> Update Person </a><br>
</body>
</html>